.navbar .navUl {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.navUl a {
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 12px;
}
.navbar {
  background-color: #fff;
  width: 50%;
  border-radius: 200px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.315);
}
#nav .navUl a:active {
}
.activeLink {
  color: rgb(231, 19, 19);
  font-size: 30px;
}
